In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("default") \
        .master("local[*]") \
        .config("spark.executor.memory", "2048mb") \
        .getOrCreate()

23/02/27 07:40:21 WARN Utils: Your hostname, vuvuzella-ThinkPad-X1-Extreme resolves to a loopback address: 127.0.1.1; using 192.168.20.19 instead (on interface wlp0s20f3)
23/02/27 07:40:21 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/27 07:40:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [20]:
data_dir = "../data/raw"
filename = "fvhv_tripdata_2021-06.csv.gz"

In [21]:
df_raw_fvhv = spark.read.option("header", "true").csv(f"{data_dir}/fvhv/2021/{filename}")

In [22]:
from pyspark.sql.types import (
    StructType,
    StructField,
    IntegerType,
    DoubleType,
    StringType,
    TimestampType,
)
schema = StructType(
        [
            StructField("dispatching_base_num", IntegerType(), True),
            StructField("pickup_datetime", TimestampType(), True),
            StructField("dropoff_datetime", TimestampType(), True),
            StructField("PULocationID", IntegerType(), True),
            StructField("DOLocationID", IntegerType(), True),
            StructField("SR_Flag", StringType(), True),
            StructField("Affiliated_base_number", StringType(), True),
        ]
    )

In [23]:
data_dir = "../data/pq/fvhv/2021"
df_spark_parquet = spark.read.schema(schema).parquet(f"{data_dir}/*")

In [24]:
df_spark_parquet.printSchema()

root
 |-- dispatching_base_num: integer (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [25]:
fvhv_columns = df_spark_parquet.columns
df_spark_parquet.createOrReplaceTempView("fvhv_2021")

In [26]:
from pyspark.sql import functions as f

In [29]:
df_spark_parquet \
    .withColumn("pickup_date", f.to_date(f.col("pickup_datetime"))) \
    .filter("pickup_date == '2021-06-15'") \
    .count()

452470

In [36]:
df_spark_parquet \
    .withColumn("duration_hours", (f.col("dropoff_datetime").cast("long") - f.col("pickup_datetime").cast("long")) / 3600 ) \
    .orderBy(f.col("duration_hours").desc()) \
    .show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|    duration_hours|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
|                null|2021-06-25 13:55:41|2021-06-28 08:48:25|          98|         265|      N|                B02872|  66.8788888888889|
|                null|2021-06-22 12:09:45|2021-06-23 13:42:44|         188|         198|      N|                B02765|25.549722222222222|
|                null|2021-06-27 10:32:29|2021-06-28 06:31:20|          78|         169|      N|                B02879|19.980833333333333|
|                null|2021-06-26 22:37:11|2021-06-27 16:49:01|         263|          36|      N|                  null|18.197222222222223|
|                null|2021-06-23 20:40:43|2021-06-24 13:08:44|           3|         247|      N|                B02682|16.466944444444444|
|                null|2021-06-23 22:03:31|2021-06-24 12:19:39|         186|         216|      N|                B02869|14.268888888888888|
|                null|2021-06-24 23:11:00|2021-06-25 13:05:35|         181|          61|      N|                B02877|13.909722222222221|
|                null|2021-06-04 20:56:02|2021-06-05 08:36:14|          53|         252|      N|                B02765|             11.67|
|                null|2021-06-27 07:45:19|2021-06-27 19:07:16|         187|         245|      N|                B02617|11.365833333333333|
|                null|2021-06-20 17:05:12|2021-06-21 04:04:16|         144|         231|      N|                B02880|10.984444444444444|
|                null|2021-06-01 12:25:29|2021-06-01 22:41:32|          87|         265|      N|                B02866|           10.2675|
|                null|2021-06-28 13:13:59|2021-06-28 23:11:58|          39|         131|      N|                B02882| 9.966388888888888|
|                null|2021-06-01 12:01:46|2021-06-01 21:59:45|          17|          37|      N|                  null| 9.966388888888888|
|                null|2021-06-27 03:52:14|2021-06-27 13:30:30|          42|         242|      N|                  null| 9.637777777777778|
|                null|2021-06-18 08:50:29|2021-06-18 18:27:57|          39|         216|      N|                  null| 9.624444444444444|
|                null|2021-06-08 16:38:14|2021-06-09 02:07:03|         106|         102|      N|                  null| 9.480277777777777|
|                null|2021-06-11 23:26:20|2021-06-12 08:54:38|         132|         140|      N|                  null| 9.471666666666666|
|                null|2021-06-15 06:47:22|2021-06-15 16:11:30|         141|         232|      N|                  null| 9.402222222222223|
|                null|2021-06-25 02:32:24|2021-06-25 11:56:01|          87|         145|      N|                  null| 9.393611111111111|
|                null|2021-06-04 17:41:23|2021-06-05 03:04:00|          26|         238|      N|                B02764| 9.376944444444444|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+------------------+
only showing top 20 rows

In [42]:
import requests
import os
zone_data_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv"
result = requests.get(zone_data_url)
dest_path = "../data/raw/fvhv_zone"
fn = "taxi_zone_lookup.csv"
os.makedirs(dest_path)
open(f"{dest_path}/{fn}", "wb").write(result.content)

12322

In [43]:
fvhv_zone_data = "../data/raw/fvhv_zone/taxi_zone_lookup.csv"
df_spark_zone = spark.read.option("header", "true").csv(fvhv_zone_data)

In [46]:
df_spark_zone.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [60]:
df_zone_count = df_spark_parquet \
    .join(df_spark_zone, df_spark_parquet.PULocationID == df_spark_zone.LocationID, "inner") \
    .groupBy(f.col("Zone")) \
    .count().alias("zone_count")

df_zone_count.sort(f.col("count").desc()).show(truncate=False)

+-------------------------+------+
|Zone                     |count |
+-------------------------+------+
|Crown Heights North      |231279|
|East Village             |221244|
|JFK Airport              |188867|
|Bushwick South           |187929|
|East New York            |186780|
|TriBeCa/Civic Center     |164344|
|LaGuardia Airport        |161596|
|Union Sq                 |158937|
|West Village             |154698|
|Astoria                  |152493|
|Lower East Side          |151020|
|East Chelsea             |147673|
|Central Harlem North     |146402|
|Williamsburg (North Side)|143683|
|Park Slope               |143594|
|Stuyvesant Heights       |141427|
|Clinton East             |139611|
|West Chelsea/Hudson Yards|139431|
|Bedford                  |138428|
|Murray Hill              |137879|
+-------------------------+------+
only showing top 20 rows