In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("default") \
        .master("local[*]") \
        .config("spark.executor.memory", "2048mb") \
        .getOrCreate()

23/02/26 21:47:11 WARN Utils: Your hostname, vuvuzella-ThinkPad-X1-Extreme resolves to a loopback address: 127.0.1.1; using 192.168.20.18 instead (on interface wlp0s20f3)
23/02/26 21:47:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/26 21:47:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
data_dir = "../data/pq"
df_green = spark.read.parquet(f"{data_dir}/green/*/*/*")
df_yellow = spark.read.parquet(f"{data_dir}/yellow/*/*/*")

In [3]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [4]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_green_renamed = df_green \
    .withColumnRenamed("lpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("lpep_dropoff_datetime", "dropoff_datetime")
df_yellow_renamed = df_yellow \
    .withColumnRenamed("tpep_pickup_datetime", "pickup_datetime") \
    .withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime")

In [7]:
df_green_renamed.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [8]:
df_yellow_renamed.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

In [18]:
common_columns = list(set(df_green_renamed.columns) & set(df_yellow_renamed.columns))

In [19]:
from pyspark.sql import functions as F

In [20]:
df_green_enriched = df_green_renamed\
    .select(common_columns) \
    .withColumn("service_type", F.lit("green"))
df_yellow_enriched = df_yellow_renamed\
    .select(common_columns) \
    .withColumn("service_type", F.lit("yellow"))

In [21]:
# combine them into 1
df_trips_data = df_green_enriched \
    .unionAll(df_yellow_enriched)

In [22]:
df_trips_data.groupBy("service_type").count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [23]:
df_trips_data.createOrReplaceTempView('trips_data')

In [24]:
df_trips_data.columns

['fare_amount',
 'tip_amount',
 'trip_distance',
 'total_amount',
 'extra',
 'PULocationID',
 'payment_type',
 'improvement_surcharge',
 'dropoff_datetime',
 'congestion_surcharge',
 'RatecodeID',
 'pickup_datetime',
 'DOLocationID',
 'passenger_count',
 'VendorID',
 'tolls_amount',
 'mta_tax',
 'store_and_fwd_flag',
 'service_type']

In [26]:
# perform raw sql queries
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 
    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,
    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [27]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|          55|2020-01-01 00:00:00|       green|   66796.46999999988|              2658.25|                  589.5|        225.66000000000003|          1844.5099999999868|                    541.5000000000092|           72709.69000000074|                               30.25|        1.5239206534422405|       9.333281553398068|
|           3|2020-01-01 00:00:00|       green|  12951.510000000022|                885.5|                   87.0|                     44.18|           702.2400000000002|                   135.29999999999941|          14820.079999999978|                                 5.5|        1.0987654320987654|       6.408490196078429|
|         181|2020-02-01 00:00:00|       green|   95812.82999999993|              4772.75|                 2947.0|         8803.909999999989|           694.0500000000004|                    1992.899999999877|          116901.39000000348|                              1436.0|         1.290180088345226|      2.9167700487372614|
|          88|2020-02-01 00:00:00|       green|  3366.0800000000004|               229.25|                    7.0|                       0.0|          239.43000000000006|                    26.70000000000002|           3868.460000000001|                                 0.0|                       1.0|      10.510666666666667|
|         190|2020-01-01 00:00:00|       green|             3786.02|                175.0|                   76.5|        242.16000000000008|                       24.48|                    62.69999999999976|           4419.360000000004|                               35.75|        1.4244604316546763|      3.5506912442396303|
|          14|2020-01-01 00:00:00|       green|  44186.509999999886|               2549.0|                  345.5|                     257.0|          1285.8899999999967|                    412.2000000000099|          49090.699999999946|                               74.25|        1.0737704918032787|       6.876796973518292|
|          29|2020-01-01 00:00:00|       green|  25023.050000000032|               1154.5|                  230.0|                    116.19|           802.9200000000002|                    225.0000000000028|          27554.409999999887|                                2.75|        1.1295681063122924|       7.838712753277714|
|         127|2020-01-01 00:00:00|       green|  22044.200000000026|               878.75|                  441.0|         994.0300000000003|          481.67000000000024|                   329.40000000000674|          25470.699999999713|                               305.0|        1.1855309218203034|       4.772682717110913|
|         221|2020-01-01 00:00:00|       green|               382.5|                  1.0|                    3.0|                       0.0|           85.67999999999999|                                  2.1|                      474.28|                                 0.0|        1.2857142857142858|      12.874285714285715|
|          54|2020-02-01 00:00:00|       green|              2278.5|               101.75|                   46.5|        275.04999999999995|           85.67999999999999|                    34.80000000000004|           2947.480000000001|                               57.75|        1.1333333333333333|       4.141065573770492|
|         158|2020-01-01 00:00:00|       green|   360.8500000000001|                13.75|                    0.0|                       0.0|                        30.6|                   2.6999999999999997|                       407.9|                                null|                      null|                   10.52|
|          95|2020-02-01 00:00:00|       green|  147413.13999999964|               7644.0|                 5606.5|        12523.119999999963|          1893.0499999999931|                    3642.000000000141|           179325.0100000105|                               635.0|        1.3634437086092714|      2.7064648516863032|
|          78|2020-02-01 00:00:00|       green|  17941.400000000027|              1258.25|                  173.0|                     68.74|           814.7500000000005|                   210.30000000000024|          20521.589999999953|                                22.0|        1.1583850931677018|       5.075233644859813|
|           3|2020-02-01 00:00:00|       green|             9758.05|                853.0|                   45.5|                      1.68|           429.6700000000002|                   105.59999999999967|          11204.300000000007|                                 0.0|        1.4647887323943662|      6.0781401617250665|
|         153|2020-02-01 00:00:00|       green|  3847.2899999999995|               286.25|                   57.5|                     39.99|                       90.77|                    58.49999999999993|           4391.300000000002|                                11.0|        1.2222222222222223|      3.9418316831683167|
|         129|2020-01-01 00:00:00|       green|  120756.02999999931|              5641.25|                 4298.0|         5140.959999999999|          1726.0099999999893|                   2874.9000000002825|           141258.9000000082|                               772.5|        1.5201231330521034|      2.6745766170169367|
|          61|2020-01-01 00:00:00|       green|   95118.76999999803|               6978.5|                 1236.5|                   1176.73|          1145.3799999999985|                   1260.8999999999003|          107306.63000000089|                               165.0|        1.2742130750605327|      3.9018475317642203|
|          56|2020-01-01 00:00:00|       green|  23927.470000000034|               1648.5|                  265.0|                    142.16|           659.4200000000003|                    333.3000000000069|          26997.049999999737|                                22.0|        1.3625498007968126|       4.243021523178803|
|         258|2020-02-01 00:00:00|       green|   8798.470000000003|                698.0|                   43.5|                     69.59|          297.31000000000006|                    87.29999999999981|          10001.620000000003|                                 5.5|        1.1363636363636365|       6.450679611650486|
|          43|2020-01-01 00:00:00|       green|  57927.889999999985|              3114.75|                 2532.0|          9246.32000000005|           698.0600000000003|                    1553.399999999856|            84271.5200000039|                             10059.5|        1.3527444422585087|      2.4010591840643576|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows

In [29]:
# write results back to a "data lake"
df_result.coalesce(1).write.parquet("../data/report/revenue", mode="overwrite")